*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100%;
    background-image: url('assets/sunset-8k-forest-4k-wallpaper-preview.webp ');
}

.to-do-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 20px 30px 70px;
    border-radius: 10px;

}
.to-do-app h2{
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    align-items: inline;
}
.what{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 20px;
}
button{
    border: none;
    outline: none;
    padding: 14px 50px;
    background: #ff5495;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position:relative;
    
}
ul li::before{
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('assets/radio.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color:black;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('assets/check-mark.png');
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 50px;
    color: #555;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 20px;
}